= form_with(model: @shorty, url: {action: 'create', controller: 'shorties'}) do |f|
  = f.label :url
  = f.text_field :original
  = f.submit
#latest_url
  %p The Latest

.row
  - @shorties.each do |s|
    %ul
      %li= s.original
      %li= root_url + s.shortened
      %li= s.use_count
