!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ShortyUrl
    = csrf_meta_tags
    <script src="https://use.fontawesome.com/9789c97f78.js"></script>
    = stylesheet_pack_tag 'application'
    %script{src: "https://code.jquery.com/jquery-3.2.1.min.js", integrity: "sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin: "anonymous"}
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1", :name => "viewport"}/
  %body
    = render 'layouts/navbar'
    %main
      = render 'layouts/flash'
      = yield
    = javascript_pack_tag 'application'
